minio_root_user: "admin"
minio_root_password: "m************3"
mlflow_flask_server_secret_key: "ml***********23"
mlflow_backend_store_uri: "postgresql://mlflowuser:m***********3@postgres:5432/mlflowdb"
postgres_user: "admin"
postgres_password: "po**********n@123"
